#navbar {
	background-color: #ffe500;
	height: 15vh;
}

.montalban-logo {
	background-color: black;
	width: 200px;
	max-height: 100px !important;
}

.button {
	background-color: #ffe500 !important;
}

#room-update-button {
	background-color: blue !important;
	color: white;
}

.room-delete-button,
.update-cancel-button {
	background-color: red !important;
	color: white;
}

.box {
	border-radius: 0px !important;
}

.rooms-bg-color {
	background-color: #002538;
}

.carousel-slider {
	height: 700px;
	margin-bottom: 50px !important;
}

.img-carousel {
	height: 700px;
}

.date-section {
	background-color: #eeeeee;
}

.p-font-size {
	font-size: 20px;
}
